*{
	margin: 0;
	padding: 0;
}
.container {
	text-align: center;
	background-color: #CC6600;
	background: linear-gradient(#FFFFFF, #BF6C19, #4A2500);
	height: 9000px;
}
header{
position: fixed;
background-color: white;
width: 100%;
}
h1 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 5em;
}
h2 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 4em;
}
p {
	font-family: serif;
	font-size: 2em;
}
nav {
	width: 100%;
	text-align: center;
	background-color: #8E623D;
}
nav ul li {
	font-family: 'Shadows Into Light', cursive;
	font-size: 3em;
}
nav ul li a {
	color: black;
	text-decoration: none;
}
nav ul li a:visited {
	color: black;	
}
nav ul li a:hover {
	color: black;
}
nav ul li {
	display: inline;
	margin: 0 10px;
}
.content {
	padding-right: 150px;
	padding-left: 150px;
	height: 100px;
}

#table_box {
	width: 50%;
	margin-left: 25%;
}
#responseForm {
	margin-left: 25%;
}
#p_about p {
	text-align: center;
	width: 80%;
	margin-left: 100px;
}
.main_section a {
	color: white;
}
/*.location {
	margin-top: 300px;
}*/
.offerings_display {
	display: inline-block;
	width: 500px;
	margin-right: 5px;
}
.offerings_display img {
	height: 500px;
	width: 500px;
}
.clearSpacer {
	height: 250px;
}
.social_media {
	width: 50px;
	height: 50px;
	display: inline;
}
footer {
	margin-top: 8000px;
}

@media screen and (max-width: 300px) {
	h1 {
		font-size: 1em;
	}
}